<div class="modal fade" id="item-complete-toggle-{{ item.id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% if item.completed %}
                    <h4 class="modal-title">Item Incomplete</h4>
                {% else %}
                    <h4 class="modal-title">Item Complete</h4>
                {% endif %}
            </div>
            <div class="modal-body">
                {% if item.completed %}
                    <p>Set the item "{{ item.description }}" to incomplete?</p>
                {% else %}
                    <p>Is the item "{{ item.description }}" complete?</p>
                {% endif %}

            </div>
            <div class="modal-footer">
                <form method="post" action="{% url "checklists:item_complete_toggle" checklist.id item.id %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {% if item.completed %}
                        <button type="submit" class="btn btn-danger">Incomplete</input>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Complete</input>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
