{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "checklists:index" %}">Checklists</a></li>
    <li class="breadcrumb-item active"><a href="{% url "checklists:delete" checklist.id %}">{{ checklist.title }}</a></li>
{% endblock %}

{% block title %}{{ checklist.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
        {% if checklist.checklist_items.all %}
            <table class="table table-borderless table-striped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in checklist.checklist_items.all %}
                    <tr>
                        <td class="align-middle">
                            {% if item.completed %}
                                <del>{{ item.description }}</del>
                            {% else %}
                                {{ item.description }}
                            {% endif %}
                        </td>
                        <td class="text-right">
                            {% if item.completed %}
                                <!-- Mark incomplete -->
                                <button type="button" class="btn btn-primary m-r-10" data-toggle="modal" data-target="#item-complete-toggle-{{ item.id }}">
                                    <i class="bi bi-x"></i> Incomplete
                                </button>
                            {% else %}
                                <!-- Mark complete -->
                                <button type="button" class="btn btn-success m-r-10" data-toggle="modal" data-target="#item-complete-toggle-{{ item.id }}" {% if item.is_not_applicable %}disabled{% endif %}>
                                    <i class="bi bi-check"></i> Complete
                                </button>
                            {% endif %}
                            <!-- Comment -->
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#item-comment-{{ item.id }}" {% if item.is_not_applicable %}disabled{% endif %}>
                            <i class="bi bi-chat-square-text"></i> Comment
                                {% if item.comments %}
                                    <span class="badge">{{ item.comment_count }}</span>
                                {% endif %}
                            </span>
                            </button>
                            {% if item.is_not_applicable %}
                                <!-- Mark not applicable  -->
                                <button type="button" class="btn btn-primary m-r-10" data-toggle="modal" data-target="#item-applicable-toggle-{{ item.id }}">
                                    <i class="bi bi-x"></i> Is Applicable
                                </button>
                            {% else %}
                                <!-- Mark complete -->
                                <button type="button" class="btn btn-success m-r-10" data-toggle="modal" data-target="#item-applicable-toggle-{{ item.id }}">
                                    <i class="bi bi-check"></i> Not Applicable
                                </button>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
            <form action="{% url 'checklists:append_item' checklist.id %}" method="POST">
                {% csrf_token %}
                <input type="text" name="item_description" placeholder="Checklist item text" required/>
                <button type="submit" class="btn" >Add checklist item</button>
            </form>
        </div>

        <div class="col-md-4 border-left pt-3 pr-3">
            <p><strong>Progress</strong></p>
            <div class="progress progress-fat mr-3">
                <div class="progress-bar {% ifequal checklist.progress 100 %}bg-success{% endifequal %}" role="progressbar" aria-valuenow="{{ checklist.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ checklist.progress }}%"></div>
            </div>

            {% ifequal checklist.progress 100 %}
                <!-- Complete checklist toggle -->
                <form class="mt-3" method="post" action="{% url "checklists:checklist_toggle" checklist.id "complete" %}">
                    {% csrf_token %}
                    {% if checklist.completed %}
                        <button type="submit" class="btn btn-danger">Not Complete!</button>
                    {% else %}
                        <button type="submit" class="btn {% ifequal checklist.progress 100 %}btn-success{% else %}btn-default{% endifequal %}" {% ifnotequal checklist.progress 100 %}disabled="disabled"{% endifnotequal %}>Complete Checklist</button>
                    {% endif %}
                </form>
            {% endifequal %}

            <!-- Archive checklist toggle -->
            <form class="mt-3" method="post" action="{% url "checklists:checklist_toggle" checklist.id "archive" %}">
                {% csrf_token %}
                {% if checklist.archived %}
                    <button type="submit" class="btn btn-danger">Remove from Archive</button>
                {% else %}
                    <button type="submit" class="btn btn-success btn-default" >Archive Checklist</button>
                {% endif %}
            </form>

            <p class="mt-3"><a class="btn btn-danger" href="{% url "checklists:delete" checklist.id %}">Delete Checklist</a></p>

            <p class="mt-3"><a class="btn btn-warning" href="{% url "checklists:bulk_mark_complete" checklist.id %}">Bulk mark Checklist as {% if not checklist.bulk_mark_completed_by %}Complete{% else %}Incomplete{% endif %}</a></p>

            <p class="mt-3"><strong>Category</strong></p>
            {% if checklist.category %}
                <p>{{ checklist.category }}</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#category-{{ checklist.id }}">Edit</a>
            {% else %}
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#category-{{ checklist.id }}">Add Category</a>
            {% endif %}


            <p class="mt-3"><strong>Notes</strong></p>
            {% if checklist.notes %}
                <p>{{ checklist.notes|linebreaks }}</p>
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#notes-{{ checklist.id }}">Edit</a>
            {% else %}
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#notes-{{ checklist.id }}">Add notes</a>
            {% endif %}

            {% if events %}
            <p class="mt-3"><strong>Events</strong></p>
            {% for event in events %}
                {% if all_events %}
                    <p>{{ event.message }}<br>
                    <strong>{{ event.author }}</strong>, <em>{{ event.created_on }}</em>
                    </p>
                {% else %}
                    {% if forloop.counter0 < 5 %}
                        <p>{{ event.message }}<br>
                        <strong>{{ event.author }}</strong>, <em>{{ event.created_on }}</em>
                        </p>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if all_events %}
                <p><a class="btn btn-primary" href="{% url "checklists:detail" checklist.id %}">Recent events only</a></p>
            {% else %}
                <p><a class="btn btn-primary" href="{% url "checklists:detail" checklist.id %}?all_events">All events</a></p>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- Item complete modals. -->
    {% for item in checklist.checklist_items.all %}
        {% include "checklists/partials/_checklistitem_complete.html" %}
    {% endfor %}

    <!-- Item comment modals. -->
    {% for item in checklist.checklist_items.all %}
        {% include "checklists/partials/_checklistitem_comment_modal.html" %}
    {% endfor %}

    {% for item in checklist.checklist_items.all %}
        {% include "checklists/partials/_checklistitem_applicable.html" %}
    {% endfor %}

    {% if create_template %}
        <p>You made a new checklist, do you want to add this to the list of available templates?</p>
        <form method="GET" action="{% url 'templates:create_from_checklist' checklist.id %}">
            {% csrf_token %}
            <button>Create Template</button>
        </form>
    {% endif %}

    <!-- Edit field modals. -->
    {% include "checklists/partials/_checklist_category_edit.html" with form=edit_category_form %}
    {% include "checklists/partials/_checklist_notes_edit.html" %}

{% endblock %}
