{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url "checklists:index" %}">Checklists</a></li>
{% endblock %}

{% block title %}Checklists{% endblock %}

{% block body %}
    <form class="p-4 d-flex flex-wrap" style="gap: 1rem;">
        {{ filter_form }}
        <button class="btn btn-primary" type="submit">Filter checklists</button>
    </form>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-borderless">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>
                        <div class="sortable-column-header">
                            <div class="table-header-title">Author</div>

                            <div class="button-container">
                                <a class="arrow-button" href="{% url 'checklists:index' %}?sort-by-author=asc">
                                  &#9650;
                                </a>
                                <a class="arrow-button" style="line-height: 1;" href="{% url 'checklists:index' %}?sort-by-author=desc">
                                  &#9660;
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>Category</th>
                    <th>
                        <div class="sortable-column-header">
                            <div class="table-header-title">Progress</div>
                            <div class="button-container">
                                <a class="arrow-button" href="{% url 'checklists:index' %}?sort-by-progress=asc">
                                  &#9650;
                                </a>
                                <a class="arrow-button" style="line-height: 1;" href="{% url 'checklists:index' %}?sort-by-progress=desc">
                                  &#9660;
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="sortable-column-header">
                            <div class="table-header-title">Created On</div>
                            <div class="button-container">
                                <a class="arrow-button" href="{% url 'checklists:index' %}?sort-by-created_on=asc">
                                  &#9650;
                                </a>
                                <a class="arrow-button" style="line-height: 1;" href="{% url 'checklists:index' %}?sort-by-created_on=desc">
                                  &#9660;
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="sortable-column-header">
                            <div class="table-header-title">Updated At</div>
                            <div class="button-container">
                                <a class="arrow-button" href="{% url 'checklists:index' %}?sort-by-updated_at=asc">
                                  &#9650;
                                </a>
                                <a class="arrow-button" style="line-height: 1;" href="{% url 'checklists:index' %}?sort-by-updated_at=desc">
                                  &#9660;
                                </a>
                            </div>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in checklists %}
                    <tr>
                        <td>
                            <a href="{% url "checklists:detail" item.id %}">{{ item.title }}</a>
                        </td>
                        <td>
                            {% if item.author %}{{ item.author }}{% else %}None{% endif %}
                        </td>
                        <td>
                            {% if item.category %}{{ item.category }}{% else %}None{% endif %}
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar {% ifequal item.progress 100 %}bg-success{% endifequal %}" role="progressbar" style="width: {{ item.progress }}%" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td>{{ item.created_on }}</td>
                        <td>{{ item.updated_at }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-4 border-left pt-2 pb-2">
            <p>This is the list of currently active checklists.</p>
            <p><a class="btn btn-primary" href="{% url "checklists:create" %}">Create checklist</a></p>
            <p><a class="btn btn-primary" href="{% url "checklists:type" "complete" %}">Show completed</a></p>
            <p><a class="btn btn-primary" href="{% url "checklists:type" "archive" %}">Show archived</a></p>

            <h2>Create a new category</h2>

            <form action="." method="POST">
                {% csrf_token %}
                {{ category_form }}
                <button type="submit">Create</button>
                {% if category_message %}
                    <p>{{ category_message }}</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}{% endblock %}
