{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "checklists:index" %}">Checklists</a></li>
    {% if type == "complete" %}
        <li class="breadcrumb-item active"><a href="{% url "checklists:type" "complete" %}">Completed</a></li>
    {% elif type == "archive" %}
        <li class="breadcrumb-item active"><a href="{% url "checklists:type" "archive" %}">Archived</a></li>
    {% endif %}
{% endblock %}

{% block title %}{% if type == "complete" %}Completed{% else %}Archived{% endif %} Checklists{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <div class="card-box">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Progress</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in checklists %}
                        <tr>
                            <td>
                                <a href="{% url "checklists:detail" item.id %}">{{ item.title }}</a>
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar {% ifequal item.progress 100 %}bg-success{% endifequal %}" role="progressbar" style="width: {{ item.progress }}%" aria-valuenow="{{ item.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4 border-left pt-2 pb-2">
            <p>This is the list of completed checklists.</p>
            <p><a class="btn btn-primary" href="{% url "checklists:create" %}">Create checklist</a></p>
            <p><a class="btn btn-primary" href="{% url "checklists:index" %}">Show incompleted</a></p>
        </div>

{% endblock %}
