{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url "templates:index" %}">Templates</a></li>
{% endblock %}

{% block title %}Templates{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            <table class="table table-borderless table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                {% for item in templates %}
                    <tr>
                        <td class="align-middle col-sm-8">
                            <a href="{% url "templates:detail" item.id %}">{{ item.title }}</a>
                        </td>
                        <td class="text-right col-sm">
                            <!-- Launch -->
                            <a class="btn btn-sm btn-primary" href="{% url "checklists:create" %}?template_id={{ item.id }}">
                                <i class="bi bi-plus"></i> Create Checklist
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-4 border-left pt-2 pb-2">
            <p>This is the list of checklists templates</p>
            <p><a class="btn btn-primary" href="{% url "templates:create" %}">Create template</a></p>

            <h2>Create a new template type</h2>

            <form action="." method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Create</button>
                {% if template_type_message %}
                    <p>{{ template_type_message }}</p>
                {% endif %}
            </form>
        </div>
        
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var $name = $('#id_name');
            var $slug = $('#id_slug');

            function updateSlug() {
                var nameVal = $name.val();
                // Replace spaces with hyphens and convert to lowercase
                var slugVal = nameVal.replace(/\s+/g, '-').toLowerCase();
                $slug.val(slugVal);
            }

            $name.on('keyup', function() {
                updateSlug();
            });

            // Trigger the slug update on page load if the name field already has a value
            if ($name.val()) {
                updateSlug();
            }
        });
    </script>
{% endblock %}
